<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.network.jsbroilers">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="pro.network.jsbroilers.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/jsbroilers"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/jsbroilers"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="pro.network.jsbroilers.SplashActivity"
            android:theme="@style/AppThemeNowhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme" />


        <activity
            android:name="pro.network.jsbroilers.ChangePassword"
            android:theme="@style/AppTheme" />

        <activity
            android:name="pro.network.jsbroilers.cart.CartActivity"
            android:label="Cart"
            android:theme="@style/AppTheme" />
        <activity
            android:name="pro.network.jsbroilers.AllProductActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="pro.network.jsbroilers.orders.MyOrderPage"
            android:theme="@style/AppTheme" />
        <activity
            android:name="pro.network.jsbroilers.product.ProductActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="pro.network.jsbroilers.product.BannerActivity"
            android:theme="@style/AppThemeImage" />
        <activity
            android:name="pro.network.jsbroilers.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name="pro.network.jsbroilers.ImageZoomActivity"
            android:theme="@style/AppThemeNowhite" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_7fnnn7WTaard4h" />


        <service
            android:name="pro.network.jsbroilers.app.FirebaseMessageReceiver"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>